{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "eslint-config-react-app",
    "plugin:jsx-a11y/recommended",
    "eslint-config-prettier"
  ],
  "plugins": ["jsx-a11y"],
  "rules": {
    "no-console": "off"
  }
}
