node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/.next
storybook-static
packages/*/coverage
packages/*/dist
packages/*/node_modules
npm-debug.log*
packages/*/.env
*.log
yarn.lock
yarn-error.log
packages/*/.rpt2_cache

# Local Netlify folder
.netlify