node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/.next
storybook-static
packages/*/coverage
packages/*/dist
packages/*/node_modules
npm-debug.log*
packages/*/.env
*.log
*.cache
yarn.lock
yarn-error.log
packages/*/.rpt2_cache
packages/*/.rts2_cache*
.next
.idea
# Local Netlify folder
.netlify
.idea
*.env
draft*
.yarn