{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
