{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "next",
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "@next/next/no-img-element": "off",
    "react/no-unescaped-entities": "off",
    "no-console": "off",
    "import/no-named-as-default": "off",
    "import/namespace": [
      "error",
      {
        "allowComputed": true,
      },
    ],
    "import/no-unresolved": "off",
  },
}
